* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.container {
  height: 100vh;
  width: 100%;
  color: aliceblue;
  background-color: #363020;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.winMsg{
    color: #E8B4BC;
    margin-top:19px;
}
.main {
  height: 310px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:0.3rem;
  flex-wrap: wrap;
  margin:30px;
}
.boxes {
  height: 100px;
  width: 100px;
  background-color: #c7c7a6;
  color: #0a4655;
  border: none;
  cursor: pointer;
  font-size:4rem;
  border-radius:8px;
}
.hide{
    visibility: hidden;
}
.boxes:active{
    background-color: #c7c7a634;
    
}
#reset {
  background-color: #6f83cbc8;
  color: white;
  padding: 9px;
  width: 100px;
  margin-top: 9px;
  border-radius: 30%;
  border:none;
  font-size: medium;
  cursor: pointer;
}
#reset:active{
    background-color: #6f83cb30;
}